//
//  config.swift
//  SelfServiceUpdateNotifier
//
//  Created by Kett, Oliver on 03.05.17.
//  Copyright © 2017 Kett, Oliver. All rights reserved.
//

import Foundation

struct config {
    static let appName = "Self Service"
    static let jamfPath = "/usr/local/bin/jamf"
    static let triggerFile = "/Library/Application Support/JAMF/.triggerInstallAllSelfServiceUpdatesInstaller"
    static let selfServicePath = "/Applications/Self Service.app"
    static let jssHost = "jss.your.corp.com:8443"
    static let updatesCategory = "Updates"
    static let ignoreStringsToMatch = [
        "Apple Software Updates installieren",
        "Microsoft Office 2016",
        "macOS",
        "OS X",
        ]
}
