<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>de.uni-erlangen.rrze.SelfServiceUpdateNotifier</string>
	<key>ProgramArguments</key>
	<array>
		<string>open</string>
		<string>-a</string>
		<string>/Library/Application Support/FAUmac/Applications/SelfServiceUpdateNotifier.app</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StartInterval</key>
	<real>604800</real>
</dict>
</plist>
