<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>de.uni-erlangen.rrze.SelfServiceUpdateNotifierInstallerDone</string>
	<key>ProgramArguments</key>
	<array>
		<string>open</string>
		<string>-a</string>
		<string>/Library/Application Support/FAUmac/Applications/SelfServiceUpdateNotifier.app</string>
		<string>--args</string>
		<string>notify</string>
	</array>
	<key>WatchPaths</key>
	<array>
		<string>/Library/Application Support/FAUmac/.triggerInstallAllSelfServiceUpdatesInstallerDone</string>
	</array>
</dict>
</plist>
